################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FinalApp-R65/CopilotIndices/17.14.1368.60722
/.vs/FinalApp-R65/v17
/.vs/FinalApp-R65/FileContentIndex
/.vs/FinalApp-R65/config
/.vs
